################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Miss/Miss/bin
/Miss/Miss/obj/Debug
/.vs
/Miss/.vs
/Miss/Miss/obj/Release/Package/PackageTmp/App_Data/Data.txt
/Miss/Miss/obj/Release/Package/PackageTmp/bin/Geolocation.dll
