################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Miss/Miss/bin
/Miss/Miss/obj/Debug
