@model  List<Miss.Models.Location>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Miss Bus</h1>
</div>

<div class="row">
    <div class="large-12 medium-12 small-12">
        <h2>Welcome to Miss Bus!</h2>
    </div>
</div>