@model  List<Miss.Models.Location>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="large-12 medium-12 small-12">
        <h1>Information <span class="large">And Support</span></h1>
        <p>
            If you or someone you know has been diagnosed with cancer, we can help. Find out what to expect,
            get information, practical advice and support, hear from experts and read about other
            people’s experiences.!
        </p>
        <div class="row">
            <div class="large-6 medium-6 small-12">
                <h2>About cancer</h2>
                
                <p>
                    A cancer doctor explains how cancer develops, how it can be treated and what might happen.
                </p>
            </div>
            <div class="large-6 medium-6 small-12">
                <h2><a href="#">What is cancer</a></h2>
                <p>
                    Cancer is a disease of our cells. Sometimes cells go wrong and become abnormal.
                    These cancer cells keep dividing to make more and more abnormal cells.
                </p>
            </div>
        </div>
            
            <h2><a href="#">Understanding</a></h2>
            <p>what cancer is</p>
            <h2><a href="#">Diagnosing</a></h2>
            <p>symptoms, causes and risk factors</p>
            <h2><a href="#">Organising</a></h2>
            <p>the practical, work and financial side</p>
            <h2><a href="#">Treating</a></h2>
            <p>cancer and what to expect</p>
            <h2><a href="#">Coping</a></h2>
            <p>with and after cancer treatment</p>
            <h2><a href="#">Resources</a></h2>
            <p>and publications to order, download and print</p>
        </div>
</div>